
<h2> Edit {{book.title}}</h2>

<form action="/{{book.id}}?_method=put" method="post"> 
<p>
   <label>Title: </label>
    <input type="text" value="{{book.title}}" name="title"/>

<label> Author: </label>
<input type="text" value="{{book.author}}"name="author"/>

<label> Genera: </label>
<input type="text" value="{{book.genera}} "name="genera"/>

<label> Published: </label>
<input type="number" value="{{book.published}}" name="published"/>

<label> Reflection: </label>
<input type="text" value="{{book.reflection}}"  name="reflection"/>

<label> Url: </label>
<input id= "image" value="{{book.url}}"  type="text" name="url"/>
  
</p>
<input type="submit" value="Update Book">
</form>