<h1><a class= "showheading" href="/">Bookshel<span class="v">V</span></a></h1>


 <img class="showbookcover" src={{book.url}} alt="book imgs">

<div class="edit-div">
<a class="showedit" href="edit/{{book.id}}"><button >Edit</button></a>
</div>


<form class="remove-forum" action="/{{book._id}}?_method=delete" method="post">
  <input class="showremove" type="submit" value="Remove">
</form>


<div class="showproperties">
<h2 class= "titleheading">{{book.title}}</h2>
<h3 class= "propertiesfont"> <strong>Author:</strong> {{book.author}} </h3>
<h3 class= "propertiesfont"> <strong>Genera:</strong> {{book.genera}} </h3>
<h3 class= "propertiesfont"> <strong>Published:</strong> {{book.published}} </h3>
<h3 class= "propertiesfont"> <strong>Reflection:</strong> {{book.reflection}} </h3>
</div>

<div class = "commentcontainer">
<h2>Read it? Share your thoughts or favourite quotes below:</h2>
 {{#each book.comments}}
  <p><strong>{{name}}:</strong> {{comment}}</p> 
   <form action="/{{../book.id}}/{{id}}?_method=delete" method="post">
<input type="submit" value="Remove comment"/>
</form>
{{/each}}

<div class="comment-box">
<form class="comment-forum"action="/{{book._id}}" method="post" class= >
<label>Name:</label>
<input type="text" name="name" class="comment-name">
<label>Comment: </label>
<input type="text" name="comment" class= "comment-input">

<input class="submit" type="submit" value="Add comment">
</form>
</div>
</div>

