<h1><a href="/">Book ShelV</a></h1>

<h2>{{book.title}}</h2>
<h3> Author: {{book.author}} </h3>
<h3> Genera: {{book.genera}} </h3>
<h3> Published: {{book.published}} </h3>
<h3> Reflection: {{book.reflection}} </h3>
 <img src={{book.url}} alt="book imgs">
<a href="edit/{{book.id}}"><button>Edit</button></a>

<form action="/{{book._id}}?_method=delete" method="post">
  <input type="submit" value="Remove">
</form>


<h2>Comments </h2>
 {{#each book.comments}}
 
  <p>{{name}} rated it:   
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </p> 
   <p>{{comment}}</p> 
   <form action="/{{../book.id}}/{{id}}?_method=delete" method="post">
<input type="submit" value="Remove comment"/>
</form>
{{/each}}


<form action="/{{book._id}}" method="post">
<label>Comment: </label>
<input type="text" name="comment">
<label>Name:</label>
<input type="text" name="name">
<input class="submit" type="submit" value="Add comment">
</form>

</form>

