<h1><a href="/">Book ShelV</a></h1>

<h2>{{book.title}}</h2>
<h3> Author: {{book.author}} </h3>
<h3> Genera: {{book.genera}} </h3>
<h3> Published: {{book.published}} </h3>
<h3> Reflection: {{book.reflection}} </h3>
 <img src={{book.url}} alt="book imgs">

<h2>Comments </h2>
 {{#each book.comments }}
  <p>{{name}}</p> 
  <p>{{comment}}</p>

{{/each}}


<form action="/{{book._id}}" method="post">
<label>Comment: </label>
<input type="text" name="comment">
<label>Name:</label>
<input type="text" name="name">
<input class="submit" type="submit" value="Add comment">
</form>
